.carousel-container {
  /* overflow: hidden; */
  /* height: ; */
}

.slide {
  /* Ensure each slide is full width of the carousel */
  /* min-width: 100%;  */
}

.carousel-container {
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;

    .img-container {
      height: 360px;
      overflow: hidden;
      position: relative;

      .button-container {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;

        .button {
          width: 56px;
          height: 56px;
          background-color: var(--black);
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 20%;
            height: 33%;
            background-color: var(--black);
          }
        }
      }
    }
  }
}
