nav {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  margin-top: 48px;
}

.links {
  /* display: flex; */
  /* justify-content: flex-start; */
}

nav .img-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
